@media (max-width: 500px) {
  background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 500px) {
  .container {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 400px;
    height: auto;
  }

  .container img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 430px) {
  .container {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
    height: auto;
  }
  .container h3,
  p {
    display: flex;
    font-size: small;
    font-weight: 900;
    text-align: center;
    width: 280px;
  }

  .container img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 300px) {
  .container {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 250px;
  }
  .container img {
    width: 200px;
    height: 200px;
  }

  .container h3,
  p {
    display: flex;
    font-size: small;
    font-weight: 900;
    text-align: center;
    width: 230px;
  }
}
